# 忽略前端依赖和构建产物
node_modules/
**/node_modules/
.pnpm-store/

openipdb.ipdb
config.yaml
mihomo.yaml
.golangci-lint.yml
test

dist/*
output/*
subs-check-pro*
mihomo-check*
log/

.idea
.vscode

.DS_Store

*.bak
*.zip
*.gz
*.tar
bin/
dist/
test_*.*
test_*/
speed_*.csv

*.old
*.new

*.exe
*.syso
*.test
.wiki/

# 忽略 IDE 缓存
.idea/
.vscode/

!Subs-Check-PRO_OG.png
